body {
	background-color:grey;
	margin-top: 10px;
}
div.thumbnail {
	border:none;
	background-color:grey;
	height: 225px;
	text-align: center;
}
div.btn-default {
	background-color:#eee;
}
div.exif_info {
	margin: 25px;
}
div.preview_img {
	margin-left: 25px;
	margin-top: 10px;
}
div.original_img {
	margin-left: 25px;
	margin-bottom: 10px;
}
div.content {
	color: #eee;
}
img.logo {
	float: right;
}
div.nav_buttons {
	text-align: center;
}
a.button {
	font-size: x-small;
}